/*
!/.gitignore
!/LICENSE
!/CNAME
!/index.html
!/style.css
!/app.js
!/ui-language.js
!/README.md
!/chat-workspace.js
!/chat-presets.js
!/chat-files.js
!/code-controls.js
!/horde-models.js
!/icons/
/icons/*
!/icons/*.svg
!/tools/
!/tools/*.js
/tests
